.page {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .page .desktop-wrapper {
    width: 1280px;
    height: 1024px;
  }
  
  .page .desktop {
    position: relative;
    height: 1024px;
    background-color: #f1faee;
    overflow: hidden;
  }
  
  .page .overlap {
    position: absolute;
    width: 1280px;
    height: 119px;
    top: 0;
    left: 0;
    background-color: #a8dadc;
  }
  
  .page .overlap-group {
    position: absolute;
    width: 222px;
    height: 51px;
    top: 34px;
    left: 1022px;
    background-color: #f1faee;
    border-radius: 50px;
    border: 1px solid;
    border-color: #4c80a0;
  }
  
  .page .text-wrapper {
    position: absolute;
    width: 182px;
    height: 31px;
    top: 8px;
    left: 11px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .page .vector {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 16px;
    left: 192px;
  }
  
  .page .div {
    position: absolute;
    width: 425px;
    height: 48px;
    top: 7px;
    left: 36px;
  }
  
  .page .text-wrapper-2 {
    width: 425px;
    top: 0;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #1d3557;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    left: 0;
  }
  
  .page .rectangle {
    position: absolute;
    width: 190px;
    height: 2px;
    top: 40px;
    left: 2px;
    background-color: #b63d3d;
    border-radius: 50px;
  }
  
  .page .mountains {
    display: inline-flex;
    align-items: flex-start;
    top: 56px;
    position: absolute;
    left: 0;
  }
  
  .page .group {
    position: relative;
    width: 684.16px;
    margin-top: -0.76px;
    margin-bottom: -0.5px;
    margin-right: -1.16px;
  }
  
  .page .overlap-2 {
    position: absolute;
    width: 258px;
    height: 905px;
    top: 119px;
    left: 1022px;
    background-color: #457b9d;
  }
  
  .page .text-wrapper-3 {
    position: absolute;
    width: 109px;
    top: 113px;
    left: 103px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .text-wrapper-4 {
    position: absolute;
    width: 109px;
    top: 254px;
    left: 103px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .text-wrapper-5 {
    position: absolute;
    width: 109px;
    top: 395px;
    left: 103px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .text-wrapper-6 {
    position: absolute;
    width: 109px;
    top: 536px;
    left: 103px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .page .text-wrapper-7 {
    position: absolute;
    width: 109px;
    top: 677px;
    left: 113px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .rectangle-2 {
    position: absolute;
    width: 3px;
    height: 630px;
    top: 104px;
    left: 58px;
    background-color: #f1faee;
    border-radius: 50px;
    border: 1px solid;
    border-color: #f1faeeb6;
  }
  
  .page .overlap-group-2 {
    position: absolute;
    width: 1022px;
    height: 225px;
    top: 799px;
    left: 0;
    background-color: #a8dadc;
    border: 1px solid;
    border-color: #000000;
  }
  
  .page .div-wrapper {
    position: absolute;
    width: 222px;
    height: 51px;
    top: 0;
    left: 191px;
    background-color: #f1faee;
    border-radius: 50px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .page .text-wrapper-8 {
    position: absolute;
    top: 0;
    left: 27px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .page .rectangle-3 {
    position: absolute;
    width: 5px;
    height: 127px;
    top: 49px;
    left: 797px;
    background-color: #b84544;
    border-radius: 50px;
    border: 1px solid;
  }
  
  .page .text-wrapper-9 {
    position: absolute;
    width: 89px;
    height: 56px;
    top: 50px;
    left: 646px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .text-wrapper-10 {
    position: absolute;
    width: 89px;
    height: 56px;
    top: 117px;
    left: 646px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .text-wrapper-11 {
    position: absolute;
    width: 93px;
    height: 56px;
    top: 50px;
    left: 864px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .text-wrapper-12 {
    position: absolute;
    width: 93px;
    height: 56px;
    top: 117px;
    left: 864px;
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .bird {
    position: absolute;
    width: 96px;
    height: 100px;
    top: 74px;
    left: 44px;
  }
  
  .page .image {
    position: absolute;
    width: 3572px;
    height: 2391px;
    top: -7898px;
    left: -9494px;
    object-fit: cover;
  }
  
  .page .rectangle-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 210px;
    left: 258px;
  }
  
  .page .img {
    position: relative;
    width: 320px;
    height: 205px;
    object-fit: cover;
  }
  
  .page .img-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 502px;
    left: 256px;
  }
  
  .page .overlap-3 {
    position: absolute;
    width: 192px;
    height: 340px;
    top: 119px;
    left: 0;
    background-color: #b63d3df5;
  }
  
  .page .text-wrapper-13 {
    position: absolute;
    width: 218px;
    height: 48px;
    top: 145px;
    left: -13px;
    transform: rotate(-90deg);
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .overlap-4 {
    position: absolute;
    width: 192px;
    height: 340px;
    top: 459px;
    left: 0;
    background-color: #457b9df5;
  }
  
  .page .text-wrapper-14 {
    position: absolute;
    top: 141px;
    left: -50px;
    transform: rotate(-90deg);
    font-family: "IBM Plex Sans Devanagari", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .page .mount-everest-mauna {
    position: absolute;
    width: 336px;
    height: 300px;
    top: 308px;
    left: 622px;
    font-family: "Lato", Helvetica;
    font-weight: 400;
    color: #457b9d;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  